body {
    background: rgb(60,76,246);
background: radial-gradient(circle, rgba(60,76,246,1) 0%, rgba(148,187,233,1) 70%);}
h1 {
    margin: 50px 0 50px 50px;
}
#color-palette {
    margin-left: 100px;
}
.color {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid black;
}
#clear-board {
    margin-left:100px;
    margin-top: 20px;
    

}
#pixel-board {
    margin-top: 30px;
    margin-left: 50px;
    --size: 5;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(var(--size),0fr);
    grid-template-rows: repeat(var(--size), 0fr);
    
    

}
.pixel {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: white;
    
}
.selected {
    background-color: var(--color);
}